.details-content{
    max-height: 100vh;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rating{
    width: 70%;
    height: 50px;
}