<mat-grid-list [cols]="colnumber" rowHeight="450px">
@for(product of products$ | async; track product){
    <mat-grid-tile>
        <mat-card appearance="outlined" class="product-card">
            <mat-card-header>
                <h5>{{product.title.substring(0, 20)}}</h5>
            </mat-card-header>
            <div class="cardcontent">
                <img mat-card-image width="150px" height="150px" [src]="product.image" />        
                {{"$ "+product.price}}
                <div class="buttons" mat-card-actions>
                    <button mat-raised-button (click)="addTocart(product)">                        
                        Add To Cart
                    </button>
                    <button mat-raised-button (click)="openDetails(product)">                        
                        Details
                    </button>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
}
</mat-grid-list>